*,
body {
  border: 0;
  margin: 0;
  height: 100%;
}

.container {
  width: 100%;
  height: 100%;
  background-color: #93e9be;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container-wrapper {
  background-color: #93e9be;
  height: auto;
  display: grid;
  gap: 15px;
  grid-template: 150px repeat(2, 1fr) / repeat(auto-fit, minmax(350px, 1fr));
}

.add-book-button {
  width: 150px;
  height: 50px;
  padding: 15px 25px;
  place-self: center;
  grid-area: 1 / 1 / 2 / -1;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 15%; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

#form1 {
  background-color: white;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
  height: auto;
}

.form-title {
}

.card {
  width: 250px;
  height: 250px;
  background-color: #62b68e;
  margin: 15px;
  padding: 15px;
  display: grid;
  grid-template: repeat(5, 1fr) / repeat(4, 1fr);
}

.title-div {
  grid-area: 1 / 1 / 2 / 4;
}

.author-div {
  grid-area: 2 / 1 / 3 / 5;
  place-self: center;
}

.pages-div {
  grid-area: 3 / 1 / 4 / 5;
  place-self: center;
}

.read-div {
  grid-area: 4 / 1 / 5 / 5;
  place-self: center;
}

.read-button {
  width: 150px;
  height: 30px;
  padding: 5px 10px;
  grid-area: 5 / 1 / 6 / 5;
  place-self: center;
}

.close-button {
  width: 20px;
  height: auto;
  grid-area: 1/4/2/5;
  place-self: start end;
  margin: 5px 5px;
}

.footer {
  align-self: end;
  width: 100%;
  height: 30px;
  background-color: #c6fff1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.github-link {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
}

.github-img {
  width: 20px;
  height: auto;
  margin: 5px 10px;
}
